---
// index.astro
import { MyConfetti } from "../../components/MyConfetti.jsx";
import { TypeAnimation } from "react-type-animation";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

const email = "hello@magicclay.io";
---

<Layout title="Magic Clay">
  <MyConfetti client:only />
  <main class="flex flex-col h-screen bg-blue-400 text-white">
    <div class="p-6 m-auto text-center">
      <h1 class="text-6xl font-bold">Magic Clay</h1>
      <p class="text-xl mt-2 italic">
        Innovative Solutions, with a Human Touch
      </p>
      <Image
        src="/logo.png"
        alt="Magic Clay logo"
        width="200"
        height="150"
        class="mx-auto my-4 w-1/4 rounded-full shadow-2xl"
      />
    </div>

    <section class="flex-grow container mx-auto p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="bg-white text-black rounded-lg shadow-lg p-6">
          <h3 class="text-2xl font-semibold mb-3">Our Approach</h3>
          <p>
            At Magic Clay, we believe in a human-centered approach to
            technology. We craft solutions that are not only innovative but also
            intuitive and user-friendly.
          </p>
        </div>
        <div class="bg-white text-black rounded-lg shadow-lg p-6">
          <h3 class="text-2xl font-semibold mb-3">Our Services</h3>
          <p>
            From web development to custom software solutions, we provide a wide
            range of services to help businesses thrive in the digital era.
          </p>
        </div>
      </div>
    </section>

    <footer class="p-4 bg-blue-500">
      <p class="text-center">
        <a href="mailto:{{email}}" class="text-white hover:text-blue-200"
          >{email}</a
        >
      </p>
    </footer>
  </main>
</Layout>
